body {
  background-image: url("assets/quiz-bqackground.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}
/* .app {
  height: 100vh;
  padding-top: 100px;
} */
.app {
  display: flex;
  flex-direction: column;
  font-family: serif;
  justify-content: center;
  height: 100vh;
  padding: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  /* align-items: center; */
}
.loading-page {
  display: flex;
  flex-direction: row;
  font-family: serif;
  gap: 70px;
  align-items: flex-start;
}
.question {
  width: 50px;
}
.subject_option {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.subject_option button {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 500px;
  border: none;
  display: flex;
  gap: 10px;
  font-size: 20px;
}
.welcome h1 {
  font-size: 60px;
  width: 400px;
  color: rgb(1, 1, 46);
}
.welcome p {
  font-size: 25px;
  color: rgb(1, 1, 46);
}
.Html-Section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 100px;
  /* height: 100vh; */
}
.options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.optBtn {
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  width: 700px;
  border: none;
  border-radius: 20px;
  text-align: left;
  font-size: 25px;
  background-color: white;
  display: flex;
  gap: 10px;
  position: relative;
  align-items: center;
}
.optBtn .label {
  background-color: rgb(233, 226, 226);
  padding: 12px;
  border-radius: 5px;
  /* height: 20px; */
}
.optBtn_Click {
  border: 1px solid purple;
}

.correct_Opt {
  border: 1px solid green;
}
.wrong_Opt {
  border: 1px solid red;
}
.label_click {
  color: white;
  background-color: purple;
  padding: 12px;
  border-radius: 5px;
}
.submitBtn {
  background-color: purple;
  padding: 20px;
  color: white;
  width: 700px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}
.score {
  width: 400px;
  height: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
}
.score span {
  font-size: 150px;
}
.shift {
  margin-left: -100px;
  margin-top: 20px;
}
.setImage {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  /* justify-content: center; */
}
.correct_button {
  background: none;
  border: 1px solid green;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  bottom: 40px;
}
.correct_button img {
  height: 15px;
  width: 15px;
}
.wrong_button {
  background: none;
  position: absolute;
  right: 20px;
  border: 1px solid red;
  padding: 5px;
  border-radius: 50%;
  bottom: 40px;
}
.wrong_button img {
  height: 15px;
  width: 15px;
}
progress {
  width: 400px;
}
.numOfQuestions {
  font-size: 20px;
}
.timer {
  color: purple;
  font-size: 25px;
  margin-top: 0px;
}
.error {
  display: flex;
  gap: 10px;
  align-items: center;
  color: red;
}
.error img {
  height: 15px;
  width: 15px;
}
.result {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: flex-start;
}
.result .divv p {
  font-size: 60px;
  line-height: 5px;
}
.result .divv h5 {
  font-size: 30px;
}
.playAgain {
  background-color: purple;
  padding: 20px;
  color: white;
  width: 450px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  /* margin-top: 150px; */
}
.div1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* .welcome h1 span {
  font-weight: 700;
  color: blue;
} */

/* Tablet screen */
@media (min-width: 477px) and (max-width: 1024px) {
  .app {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .loading-page {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .subject_option button {
    width: 400px;
  }
  .welcome h1 {
    font-size: 50px;
    width: 400px;
  }
  .welcome p {
    font-size: 25px;
  }
  .Html-Section {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    /* height: 100vh; */
  }
  .optBtn {
    width: 500px;
    font-size: 25px;
    align-items: center;
  }
  .submitBtn {
    width: 500px;

    font-size: 20px;
  }
  .question {
    width: 10px;
  }
  progress {
    width: 500px;
  }
  .correct_button {
    right: 10px;
    bottom: 30px;
  }
  .correct_button img {
    height: 20px;
    width: 20px;
  }
  .wrong_button {
    right: 10px;

    bottom: 30px;
  }
  .wrong_button img {
    height: 20px;
    width: 20px;
  }

  .timer {
    color: purple;
    font-size: 25px;
    margin-top: 20px;
  }
  .result {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
  }
  .result .divv p {
    font-size: 30px;
    line-height: 5px;
  }
  .result .divv h5 {
    font-size: 30px;
  }
  .score {
    width: 300px;
    height: 200px;
    padding: 20px;
  }
  .score span {
    font-size: 70px;
  }
  .playAgain {
    width: 350px;

    /* margin-top: 150px; */
  }
}

/* mobile screen */
@media (max-width: 476px) {
  .app {
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .loading-page {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .subject_option button {
    width: 300px;
  }
  .welcome h1 {
    font-size: 30px;
    width: 300px;
  }
  .welcome p {
    font-size: 25px;
  }
  .Html-Section {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    /* height: 100vh; */
  }
  .optBtn {
    width: 300px;
    font-size: 18px;
    align-items: center;
  }
  .submitBtn {
    width: 300px;

    font-size: 20px;
  }
  .question {
    width: 10px;
  }
  progress {
    width: 300px;
  }
  .correct_button {
    right: 10px;
    bottom: 30px;
  }
  .correct_button img {
    height: 10px;
    width: 10px;
  }
  .wrong_button {
    right: 10px;

    bottom: 30px;
  }
  .wrong_button img {
    height: 10px;
    width: 10px;
  }

  .timer {
    color: purple;
    font-size: 25px;
    margin-top: 20px;
  }
  .result {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .result .divv p {
    font-size: 30px;
    line-height: 5px;
  }
  .result .divv h5 {
    font-size: 30px;
  }
  .score {
    width: 300px;
    height: 200px;
    padding: 20px;
  }
  .score span {
    font-size: 70px;
  }
  .playAgain {
    width: 350px;

    /* margin-top: 150px; */
  }
}
